.jumbotron {
  text-align: center;
  color: black;
  font-size: 35px;
  background-image: url('../img/numbers-game-big.jpg');
  background-repeat: space;
  background-color: grey;
}

.play {
  margin: 100px;
}

div#results {
  display: none;
}

.emoji  {
  padding-right: 20px;
}

.footer {
  text-align: center;
  padding-top: 20px;

}
body{
  font-family: 'Indie Flower', cursive;
  font-size: 25px;

}
